{% extends 'car_rental_app/base.html' %}

{% block content %}

    <div class="container">

        <div class="row mt-4">
            <div class="col-12">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bookingAddModal"><a>Add Booking</a></button>
                <button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#bookingDeleteModal">Delete Booking</button>
                <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#bookingEditModal">Edit Booking</button>
                <a href="{% url 'car_rental_app:Chart Booking' %}"><button type="button" class="btn btn-secondary btn-lg">Booking Vs Year</button></a>
                <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#customerNameModal">Find Customer</button>
                <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#dateRangeModal">Find Bookings Between</button>
                <div class="dropdown">
                      <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stores
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          {% for store in stores %}
                                <a class="dropdown-item" href="{% url 'car_rental_app:Booking store query' store %}">{{ store }}</a>
                          {% endfor %}
                      </div>
                </div>


            </div>
        </div>



    {#    models#}

    <!--Add Booking Modal -->
        <div class="modal fade" id="bookingAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col mt-4 mb-4">
                            <form action="{% url 'car_rental_app:add booking' %}" method="post">
                                {% csrf_token %}
                                {{ booking_form.as_p }}

                                <button type="submit" class="btn btn-info">Add Booking</button>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>



        {#        delete car model#}
            <div class="modal fade" id="bookingDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Car</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'car_rental_app:delete booking user input' %}" method="post">
                        {% csrf_token %}

                        <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Id</span>
                                </div>
                            {{booking_id_form.idz}}
                            </div>

                        <button type="submit" class="btn btn-info">Delete Booking</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>



        {#    edit booking modal#}
            <div class="modal fade" id="bookingEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Car</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'car_rental_app:update booking by user' %}" method="post">
                        {% csrf_token %}

                        <div class="input-group input-group-lg">
                            {{booking_id_form.idz}}
                        </div>

                        <button type="submit" class="btn btn-info">Edit Booking</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

        <!--Customer name booking Modal -->
        <div class="modal fade" id="customerNameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Find Customer's Bookings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col mt-4 mb-4">
                            <form action="{% url 'car_rental_app:booking customer name' %}" method="post">
                                {% csrf_token %}
                                {{ name_customer_form.as_p }}

                                <button type="submit" class="btn btn-info">Find Customer</button>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!--Booking Date Range Modal -->
        <div class="modal fade" id="dateRangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Date Range?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col mt-4 mb-4">
                            <form action="{% url 'car_rental_app:booking date range' %}" method="post">
                                {% csrf_token %}
                                {{ date_range_form.as_p }}

                                <button type="submit" class="btn btn-info">Find Bookings</button>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        {% if bookings %}
            <div class="container">
                <div class="row mt-3">
                    {% for booking in bookings %}
                        <div class="col-sm-12 col-md-4 mt-2">
                            <div class="card text-center">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-4">
                                                {{ booking.pk }}
                                            </div>
                                            <div class="col-4">
                                                <a href={% url 'car_rental_app:delete booking' booking.pk %} > <span class="badge badge-pill badge-warning">Delete</span></a>
                                            </div>
                                            <div class="col-4">
                                                <a href={% url 'car_rental_app:update booking' booking.pk %} > <span class="badge badge-pill badge-info">Edit</span></a>
                                            </div>
                                        </div>
                                    </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ booking.customer_id }}.</h5>
                                    <p class="card-text">{{ booking.car_id }}</p>
                                    <p class="card-text">{{ booking.date_of_issue }}</p>
                                    <p class="card-text">{{ booking.date_of_return }}</p>
                                    <p class="card-text">{{ booking.amount }}</p>
                                    <p class="card-text">{{ booking.pickup_location }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="container">
            <nav aria-label="Page navigation example" class="mt-4">
              <ul class="pagination">
                  {% if bookings.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% url 'car_rental_app:bookings' %}?page={{ bookings.previous_page_number }}">Previous</a></li>
                  {% endif %}
                    {% if bookings.has_next %}
                        <li class="page-item"><a class="page-link" href="{% url 'car_rental_app:bookings' %}?page={{ bookings.next_page_number }}">Next</a></li>
                    {% endif %}
              </ul>
            </nav>
        </div>

        </div>

{% endblock %}