{% extends 'car_rental_app/base.html' %}

{% block content %}

    <div class="container">

        <div class="row mt-4">
            <div class="col-12">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#carAddModal"><a>Add Car</a></button>
                  <button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#carDeleteModal">Delete Car</button>
                  <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#carEditModal">Edit Car</button>
                   <a href="{% url 'car_rental_app:chart' %}"> <button type="button" class="btn btn-secondary btn-lg nav-link">Car vs Year </button></a>


                    <div class="dropdown">
                      <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Car Condition
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'car_rental_app:good cars' %}">Good Cars</a>
                        <a class="dropdown-item" href="{% url 'car_rental_app:fair cars' %}">Fair Cars</a>
                        <a class="dropdown-item" href="{% url 'car_rental_app:excellent cars' %}">Excellent Cars</a>
                      </div>
                    </div>

                    <div class="dropdown">
                      <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Car Color
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          {% for color in color_set %}
                                <a class="dropdown-item" href="{% url 'car_rental_app:car color' color %}">{{ color }}</a>
                          {% endfor %}
                      </div>
                    </div>

                  <button type="button" class="btn btn-secondary btn-lg nav-link"
                  data-toggle="modal" data-target="#dateRangeModal" >Cars in Range </button>

                </div>
            </div>
        </div>


        <!--Add Car Modal -->
        <div class="modal fade" id="carAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                <div class="row">
                    <div class="col mt-4 mb-4">
                        <form action="{% url 'car_rental_app:add car' %}" method="post">
                            {% csrf_token %}

                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Model</span>
                                </div>
                                {{ car_form.model }}
                            </div>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Brand</span>
                                </div>
                                {{ car_form.brand }}
                            </div>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Color</span>
                                </div>
                                {{ car_form.color }}
                            </div>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                                </div>
                                {{ car_form.description }}
                            </div>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Date of Purchase</span>
                                </div>
                                {{ car_form.date_of_purchase }}
                            </div>
{#                            <div class="input-group input-group-lg">#}
{#                                <div class="input-group-prepend">#}
{#                                    <span class="input-group-text" id="inputGroup-sizing-default">Time of Purchase</span>#}
{#                                </div>#}
{#                                {{ car_form.time_of_purchase }}#}
{#                            </div>#}
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Available</span>
                                </div>
                                {{ car_form.available }}
                            </div>
                            <button type="submit" class="btn btn-info">Add Car</button>
                        </form>
                    </div>
                </div>
            </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>

{#        delete car model#}
            <div class="modal fade" id="carDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Car</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'car_rental_app:delete car by user' %}" method="post">
                        {% csrf_token %}

                        <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Id</span>
                                </div>
                            {{car_id_form.idz}}
                            </div>

                        <button type="submit" class="btn btn-info">Delete Car</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

{#    edit car modal#}
            <div class="modal fade" id="carEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Car</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'car_rental_app:update car by user' %}" method="post">
                        {% csrf_token %}

                        <div class="input-group input-group-lg">
                            {{car_id_form.idz}}
                        </div>

                        <button type="submit" class="btn btn-info">Edit Car</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

{#    date range model#}

            <div class="modal fade" id="dateRangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Range of Date?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'car_rental_app:car in range' %}" method="post">
                        {% csrf_token %}

                        <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Dates?</span>
                                </div>
                            {{dateRangeForm.as_p}}
                            </div>

                        <button type="submit" class="btn btn-info">Find cars in this range</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

        {% if cars %}
            <div class="row mt-3">
                {% for car in cars %}
                    <div class="col-4 mt-2">
                        <div class="card text-center">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-4">
                                            id = {{ car.id }}

                                        </div>
                                        <div class="col-4">
                                            <a href={% url 'car_rental_app:delete car' car.pk %} > <span class="badge badge-pill badge-warning">Delete</span></a>
                                        </div>
                                        <div class="col-4">
                                            <a href={% url 'car_rental_app:update car' car.pk %} > <span class="badge badge-pill badge-info">Edit</span></a>
                                        </div>
                                    </div>

                                </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ car.model }}.</h5>
                                <p class="card-text">{{ car.brand }}</p>
                                <p class="card-text">{{ car.color }}</p>
                                <p class="card-text">{{ car.description }}</p>
                                <p class="card-text">{{ car.date_of_purchase }}</p>
                                <p class="card-text">{{ car.available }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <nav aria-label="Page navigation example" class="mt-4">
          <ul class="pagination">
              {% if cars.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'car_rental_app:cars' %}?page={{ cars.previous_page_number }}">Previous</a></li>
              {% endif %}
                {% if cars.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'car_rental_app:cars' %}?page={{ cars.next_page_number }}">Next</a></li>
                {% endif %}
          </ul>
        </nav>



    </div>

{% endblock %}