<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'car_rental_app:home' %}">.Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'car_rental_app:home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Link</a>#}
{#                    </li>#}
{##}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#                    </li>#}
                </ul>
            </div>
        </nav>

    <div class="container">
       <div class="row">
        <div class="col mt-4 mb-4">
            <form action="{% url 'car_rental_app:add car' %}" method="post">
                {% csrf_token %}

{#                {{ car_form.as_table }}#}

                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Model</span>
                    </div>
                    {{ car_form.model }}
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Brand</span>
                    </div>
                    {{ car_form.brand }}
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Color</span>
                    </div>
                    {{ car_form.color }}
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                    </div>
                    {{ car_form.description }}
                </div>
{#                <div class="input-group input-group-lg">#}
{#                    <div class="input-group-prepend">#}
{#                        <span class="input-group-text" id="inputGroup-sizing-default">Date of Purchase</span>#}
{#                    </div>#}
{#                    {{ car_form.date_of_purchase }}#}
{#                </div>#}
{#                <div class="input-group input-group-lg">#}
{#                    <div class="input-group-prepend">#}
{#                        <span class="input-group-text" id="inputGroup-sizing-default">Available</span>#}
{#                    </div>#}
{#                    {{ car_form.available }}#}
                    <button type="submit" class="btn btn-info" >Search It</button>
{#                </div>#}

            </form>
        </div>
    </div>
    </div>




    {% if cars %}
        <div class="row mt-3 mx-5">
            {% for car in cars %}
                <div class="col-md-2">
                    <div class="card text-center">
                            <div class="card-header">
                                {{ car.car_id }}
                            </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ car.model }}.</h5>
                            <p class="card-text">{{ car.brand }}</p>
                            <p class="card-text">{{ car.color }}</p>
                            <p class="card-text">{{ car.description }}</p>
                            <p class="card-text">{{ car.date_of_purchase }}</p>
                            <p class="card-text">{{ car.available }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

  </body>
</html>