{% extends 'car_rental_app/base.html' %}

{% block scripts %}

    <script>
    $(document).ready(function (){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: [
                    {% for name in namezzz %}
                        '{{ name }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: '# Cars Sold',
                    data: [
                        {% for count in carzzz %}
                        '{{ count }}',
                    {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
          //  options: {
           //     scales: {
          //          yAxes: [{
           //             ticks: {
          //                  beginAtZero: true
          //              }
          //          }]
         //       }
         //   }
        });
    });
    </script>



{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        </div>


        <div class="jumbotron jumbotron-fluid mt-4">
          <div class="container">
            <h1 class="display-4">Max Car Sales</h1>
            <p class="lead">Year :: {{ max_car_sales_year }}</p>
          </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
          <div class="container mt-2">
            <h1 class="display-4">Min Car Sales</h1>
            <p class="lead">Year :: {{ min_car_sales_year }}</p>
          </div>
        </div>
    </div>


{% endblock %}